<!DOCTYPE html>
    
<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Material Admin</title>

        <!-- Vendor CSS -->
    <link href="../../admin_content/vendors/bower_components/fullcalendar/dist/fullcalendar.min.css" rel="stylesheet">
    <link href="../../admin_content/vendors/bower_components/animate.css/animate.min.css" rel="stylesheet">
    <link href="../../admin_content/vendors/bower_components/sweetalert/dist/sweetalert.css" rel="stylesheet">
    <link href="../../admin_content/vendors/bower_components/material-design-iconic-font/dist/css/material-design-iconic-font.min.css" rel="stylesheet">e
    <link href="../../admin_content/vendors/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css" rel="stylesheet">

    <!-- CSS -->
    <link href="../../admin_content/css/app_1.min.css" rel="stylesheet">
    <link href="../../admin_content/css/app_2.min.css" rel="stylesheet">
    </head>

    <body>
        <h1 style="color:red">@TempData["message"]</h1>
        <h1 style="color:red">@TempData["SameUser"]</h1>
        <h1 style="color:red">@TempData["e_m"]</h1>
            <div class="login-content">
                <!-- Login -->
                <form method="post" action="~/Admin/verification">
                    <div class="lc-block toggled" id="l-login">
                        <div class="lcb-form">
                            <div class="input-group m-b-20">
                                <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
                                <div class="fg-line">
                                    <input type="text" name="u_name" class="form-control" placeholder="Username">
                                </div>
                            </div>
                            <div class="input-group m-b-20">
                                <span class="input-group-addon"><i class="zmdi zmdi-male"></i></span>
                                <div class="fg-line">
                                    <input type="password" name="u_password" class="form-control" placeholder="Password">
                                </div>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="">
                                    <i class="input-helper"></i>
                                    Keep me signed in
                                </label>
                            </div>
                            <input type="submit" value="Go" class="btn btn-login btn-success btn-float">
                            @*<a href="~/Admin/verification" class="btn btn-login btn-success btn-float"><i class="zmdi zmdi-arrow-forward"></i></a>*@
                        </div>

                        <div class="lcb-navigation">
                            @*<a href="#" data-ma-action="login-switch" data-ma-block="#l-register"><i class="zmdi zmdi-plus"></i> <span>Register</span></a>*@
    <a href="#" data-ma-action="login-switch" data-ma-block="#l-forget-password"><i>?</i> <span>Forgot Password</span></a>
                        </div>
                    </div>
                </form>

                <!-- Register -->
                @*<form method="post" action="~/Admin/add_user">*@
                @using (Html.BeginForm("add_user", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="lc-block" id="l-register">
                        <div class="lcb-form">

                            <div class="input-group m-b-20">
                                <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
                                <div class="fg-line">
                                    <input type="text" name="fullname" class="form-control" placeholder="Full Name">
                                </div>
                            </div>

                            <div class="input-group m-b-20">
                                <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
                                <div class="fg-line">
                                    <input type="text" name="u_name" class="form-control" placeholder="Username">
                                </div>
                            </div>

                            <div class="input-group m-b-20">
                                <span class="input-group-addon"><i class="zmdi zmdi-email"></i></span>
                                <div class="fg-line">
                                    <input type="text" name="email" class="form-control" placeholder="Email address">
                                </div>
                            </div>

                            <div class="input-group m-b-20">
                                <span class="input-group-addon"><i class="zmdi zmdi-male"></i></span>
                                <div class="fg-line">
                                    <input type="password" name="u_password" class="form-control" placeholder="Password">
                                </div>
                            </div>

                            <div class="input-group m-b-20">
                                <span class="input-group-addon"><i class="zmdi zmdi-male"></i></span>
                                <div class="fg-line">
                                    <input type="password" name="c_password" class="form-control" placeholder="Confirm Password">
                                </div>
                            </div>

                            <div class="input-group m-b-20">
                                <span class="input-group-addon"><i class="zmdi zmdi-male"></i></span>
                                <div class="fg-line">
                                    <input type="file" name="file" id="file1" onmouseout="add_user();">
                                </div>
                            </div>

                            <div class="input-group m-b-20">
                                <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
                                <div class="fg-line">
                                    <input type="text" name="mob" class="form-control" placeholder="Mobile">
                                </div>
                            </div>

                            <div class="input-group m-b-20">
                                <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
                                <div class="fg-line">
                                    <input type="text" name="email" class="form-control" placeholder="Email">
                                </div>
                            </div>

                            <div class="input-group m-b-20">
                                <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
                                <div class="fg-line">
                                    <input type="text" name="skype" class="form-control" placeholder="Skype">
                                </div>
                            </div>

                            <div class="input-group m-b-20">
                                <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
                                <div class="fg-line">
                                    <input type="text" name="summary" class="form-control" placeholder="Summary">
                                </div>
                            </div>


                            <input type="submit" value="Go" class="btn btn-login btn-success btn-float">
                            @*<a href="#" class="btn btn-login btn-success btn-float"><i class="zmdi zmdi-check"></i></a>*@
                        </div>

                        <div class="lcb-navigation">
                            @*<a href="#" data-ma-action="login-switch" data-ma-block="#l-login"><i class="zmdi zmdi-long-arrow-right"></i> <span>Sign in</span></a>*@
                            @*<a href="#" data-ma-action="login-switch" data-ma-block="#l-forget-password"><i>?</i> <span>Forgot Password</span></a>*@
                        </div>
                    </div>
                }
                @*</form>*@
@using (Html.BeginForm("send_email", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
<div class="lc-block" id="l-forget-password">
                    <div class="lcb-form">
                        <p class="text-left"></p>

                        <div class="input-group m-b-20">
                            <span class="input-group-addon"><i class="zmdi zmdi-email"></i></span>
                            <div class="fg-line">
                                <input type="text" name="email_send" class="form-control" placeholder="Email Address">
                            </div>
                        </div>

                        @*<a href="#" class="btn btn-login btn-success btn-float"><i class="zmdi zmdi-check"></i></a>*@
                    </div>

                    <div class="lcb-navigation">
                        <input type="submit" value="Go" class="btn btn-login btn-success btn-float">
                        @*<a href="#" data-ma-action="login-switch" data-ma-block="#l-login"><i class="zmdi zmdi-long-arrow-right"></i> <span>Sign in</span></a>
                        <a href="#" data-ma-action="login-switch" data-ma-block="#l-register"><i class="zmdi zmdi-plus"></i> <span>Register</span></a>*@
                    </div>
                </div>
}
                <!-- Forgot Password -->
                
            </div>


            <!-- Older IE warning message -->
            <!--[if lt IE 9]>
            <div class="ie-warning">
                <h1 class="c-white">Warning!!</h1>
                <p>You are using an outdated version of Internet Explorer, please upgrade <br/>to any of the following web browsers to access this website.</p>
                <div class="iew-container">
                    <ul class="iew-download">
                        <li>
                            <a href="http://www.google.com/chrome/">
                                <img src="img/browsers/chrome.png" alt="">
                                <div>Chrome</div>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.mozilla.org/en-US/firefox/new/">
                                <img src="img/browsers/firefox.png" alt="">
                                <div>Firefox</div>
                            </a>
                        </li>
                        <li>
                            <a href="http://www.opera.com">
                                <img src="img/browsers/opera.png" alt="">
                                <div>Opera</div>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.apple.com/safari/">
                                <img src="img/browsers/safari.png" alt="">
                                <div>Safari</div>
                            </a>
                        </li>
                        <li>
                            <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
                                <img src="img/browsers/ie.png" alt="">
                                <div>IE (New)</div>
                            </a>
                        </li>
                    </ul>
                </div>
                <p>Sorry for the inconvenience!</p>
            </div>
        <![endif]-->
            <!-- Javascript Libraries -->
            <script src="../../admin_content/vendors/bower_components/jquery/dist/jquery.min.js"></script>
            <script src="../../admin_content/vendors/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

            @*<script src="vendors/bower_components/flot/jquery.flot.js"></script>*@
            <script src="../../admin_content/vendors/bower_components/flot/jquery.flot.js"></script>
            @*<script src="vendors/bower_components/flot/jquery.flot.resize.js"></script>*@
            <script src="../../admin_content/vendors/bower_components/flot/jquery.flot.resize.js"></script>
            <script src="../../admin_content/vendors/bower_components/flot.curvedlines/curvedLines.js"></script>
            <script src="../../admin_content/vendors/sparklines/jquery.sparkline.min.js"></script>
            <script src="../../admin_content/vendors/bower_components/jquery.easy-pie-chart/dist/jquery.easypiechart.min.js"></script>

            <script src="../../admin_content/vendors/bower_components/moment/min/moment.min.js"></script>
            <script src="../../admin_content/vendors/bower_components/fullcalendar/dist/fullcalendar.min.js"></script>
            <script src="../../admin_content/vendors/bower_components/simpleWeather/jquery.simpleWeather.min.js"></script>
            <script src="../../admin_content/vendors/bower_components/Waves/dist/waves.min.js"></script>
            <script src="../../admin_content/vendors/bootstrap-growl/bootstrap-growl.min.js"></script>
            <script src="../../admin_content/vendors/bower_components/sweetalert/dist/sweetalert.min.js"></script>
            <script src="../../admin_content/vendors/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>

            <!-- Placeholder for IE9 -->
            <!--[if IE 9 ]>
            <script src="vendors/bower_components/jquery-placeholder/jquery.placeholder.min.js"></script>
        <![endif]-->

            <script src="../../admin_content/js/app.min.js"></script>
</body>

<!-- Mirrored from byrushan.com/projects/ma/1-5-3/jquery/light/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 19 May 2016 18:58:50 GMT -->
</html>
