@{
    ViewBag.Title = "_admin_footer";
}

<footer id="footer">
    Copyright &copy; 2016 Zeeshan Sohail

    <ul class="f-menu">
        <li><a href="#">Home</a></li>
        <li><a href="#">Dashboard</a></li>
        <li><a href="#">Reports</a></li>
        <li><a href="#">Support</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
</footer>
