@{
    ViewBag.Title = "_footer";
}

<footer id="footer">
    <div id="copyright">
        <div class="container">
            <div class="row-fluid">
                <div class="row-fluid">
                    <div class="copyright-text copyright-left">
                        Copyright  <a href="http://educatedlivings.com/developer/">Zeeshan Sohail</a>
                    </div>
                    <div class="textright copyright-right">
                        <ul id="footer_menu" class="footer-menu">
                            <li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-268"><a href="~/Home/Index">Home</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-258"><a href="~/Rankings/Index">College Rankings</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-263"><a href="~Home/features">Features</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-400"><a href="~Home/blog">Blog</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-595"><a href="~Home/about">About</a></li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-269"><a href="~Home/contact">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
