@{
    ViewBag.Title = "_mob_nav";
}

<div id="mobile_navigation">
    <a id="close-mobile-menu" href="#">X</a>
    <ul id="mobile_menu" class="mobile_menu">
        <li id="menu-item-268" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-268"><a href="~/Home/Index1">Home</a></li>
        <li id="menu-item-258" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-258">
            <a href="~/Rankings/Index">College Rankings</a>
            <ul class="sub-menu">
                <li id="menu-item-818" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-818"><a href="~/Rankings/online_colleges">The 25 Best Online Colleges For 2015-2016</a></li>
                <li id="menu-item-814" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-814"><a href="~/Rankings/o_cs_prog">The Best Online Computer Science Degree Programs</a></li>
                <li id="menu-item-1403" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1403"><a href="~/Rankings/o_mba_prog">The 25 Best Online MBA Programs For 2015-2016</a></li>
                <li id="menu-item-812" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-812"><a href="~/Rankings/rn_to_bsn">The Best Online RN to BSN Programs</a></li>
                <li id="menu-item-811" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-811"><a href="~/Rankings/o_mas_in_e">The 25 Best Online Masters in Education Degree Programs</a></li>
                <li id="menu-item-817" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-817"><a href="~/Rankings/o_psy_prog">The 25 Best Online Psychology Degree Programs</a></li>
                <li id="menu-item-813" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-813"><a href="~/Rankings/o_act_deg">The 20 Best Online Accounting Degree Programs</a></li>
                <li id="menu-item-815" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-815"><a href="~/Rankings/o_mas_in_social">The Top 20 Online Masters in Social Work Programs</a></li>
            </ul>
        </li>
        <li id="menu-item-263" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-263"><a href="~/Home/features">Features</a></li>
        <li id="menu-item-400" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-400"><a href="~/Home/blog">Blog</a></li>
        <li id="menu-item-595" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-595"><a href="~/Home/about">About</a></li>
        <li id="menu-item-269" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-269"><a href="~/Home/contact">Contact</a></li>
    </ul>
</div>
