@{
    ViewBag.Title = "_popular_pages";
}

<div id="text-7" class="widget widget_meta widget_text">
    <div class="textwidget">
        <p style="
text-align: center;
font-family: oswald;
font-size: 30px;
color: #3498db;">
            FEATURED PROGRAMS
        </p>
        <center>
            <a href="~/Rankings/online_colleges"><img src="../wp-content/uploads/2015/04/bestonlinecolleges.png"></a>
            <a href="~/Rankings/o_mba_prog"><img src="../wp-content/uploads/2015/04/onlinemba.png"></a>
            <a href="~/Rankings/rn_to_bsn"><img src="../wp-content/uploads/2015/04/rntobsn.png"></a>
        </center>
    </div>
</div><div id="text-8" class="widget widget_meta widget_text">
    <div class="textwidget">
        <p style="
text-align: center;
font-family: oswald;
font-size: 30px;
color: #3498db;">
            POPULAR PAGES
        </p>
        <a href="~/MoreRanks/best_col_towns" style="color: #0000">
            The 50 Best College Towns in America
            <hr color="#faa213">
        </a>
        <a href="~/MoreRanks/most_beau_col" style="color: #0000">The 100 Most Beautiful College Campuses in America</a>
        <hr color="#faa213">
        <a href="~/MoreRanks/best_study_abrd_prog" style="color: #0000">The 50 Best Study Abroad Programs</a>
    </div>
</div>
